html {
    background-color: #fefae0;
    color: #333d29;
}

.container, .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
}


.info {
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    justify-self: center;
    align-self: center;
}

p {
    display: flex;
    justify-content: center;
}

span {
    color: #656d4a;
}

.quote, .source, .missed-letter, .counter, .remove {
    font-size: 32px;
}

.source, .mistake-counter , .counter, .remove{
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.incorrect {
    color: #da2c38;
}

.space {
    background-color: #da2c38;
}

.correct {
    color: #283618;
}